# Visual Studio cache and build folders
.vs/
Debug/
Release/
x64/
x86/
ARM64/

# Visual Studio files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Bb]uild/
x64/
[Oo]bj/
[Oo]ut/

# VS database files
*.VC.db
*.VC.opendb

# Other
*.log
*.tlog
*.cache
*.pdb
*.idb
*.ipch
